*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-family:arial;
}
.wrapper{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

}
main{
    flex-grow: 1;
}
nav{
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--font-family);
    font-weight: 500;
    padding: 0 2rem;
    box-shadow: 0px 1px 1px 1px  rgba(0, 0, 0, 0.171);
}
a{
    text-decoration: none;
}
.left-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-links{
    padding: 0 1rem;
    color: black;
    font-size: 1.3vmax;
}
.nav-links:last-child{
    color: red;
}
.r-links{
    padding: 0 1rem;
    color: black;
    font-size: 1.3vmax;
}
.r-links:nth-child(1){
    color: blue;
}
.top-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    margin-top: 4rem;
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#heading{
    position: absolute;
    z-index: 1;
    font-size: 10vmax;
    font-family: var(--font-family);
    color: rgb(253, 98, 98);
    letter-spacing: 3px;

}
.second-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vmax;
    
}
.text{
    width: 60%;
    font-size: 1.9vmax;
    font-family: var(--font-family);
}
#para1{
font-weight: 500;
}
#para2{
    font-size: 0.9rem;
    margin-top: 2rem;
}
.third-content{
    display: flex;

}
#image1{
    z-index: 1;
    margin-top: 5rem;
    height: 35vmax;
    width: 39vmax;
    position: relative;
    left: 6vmax;
}
.parent{
    background-color: #fbffa7;
    height: 45vmax;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image2{
    width: 30vmax;
    height: 28vmax;
}
.forth-content{
    padding:5rem 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.image4{
    padding-top: 5rem;
    width: 60%;;
}
#image3{
    height: 100%;
    width: 100%;
}
.fifth-content{
    padding:5rem 5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.sixth-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#image5{
    width: 35vmax;
    height: 30vmax;
}
#image4{
    width: 40%;
    height: 70%;
    position: relative;
    right: 5%;
}
.seventh-content{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#image6{
    height: 60vmax;
    width: 90vmax;
    padding: 5rem 2rem;
}
footer{
    padding: 5rem 5rem;
    background-color: rgb(238, 235, 235);
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;
}
.parent1{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.links{
    font-family: var(--font-family);
    padding: 0.3vmax;
    color: black;
    text-decoration: none;
}
.logo{
    padding:1rem;
}
#foot-heading{
    font-size: 3vmax;
    font-family: var(--font-family);
}
.parent2{
    padding:0 2rem;
}
h5{

    font-size: 1.5vmax;
    font-family: var(--font-family);
}
.link{

    display: flex;
    flex-direction: column;
}
.para4{
    font-size: 1.5vmax;
    font-weight: 600;
    font-family: var(--font-family);
    padding: 1rem 0;
}
.para5{
    font-family: var(--font-family);
}
#input{
    margin: 1rem 0;
    padding: 0.3rem 1.5rem;
    background-color: #ffffff;
    border: 0.2px solid black;
    outline: none;
}
#button{
    padding: 0.3rem 1.5rem;
    font-size: 0.8rem;
    font-family: var(--font-family);
}
.parent4{
    width: 100%;
    height: 5vmax;
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font-family);
    
}


